{% extends "blog_app/base.html" %}

{% block title %}
<title>{{post.subject}}</title>
{% endblock %}

{% block content %}

{% if post %}

<div class="container">

    <h3><strong> {{post.subject}}</strong></h3>
    <small class="text-muted">Por: {{post.author}} - Fecha: {{post.date}}</small><br>
    <hr><br>

    <div class="row">
        <div>
            {{post.body}}
        </div>
    </div>
    {% if user.is_authenticated %}
        {% if user.id == post.author.id %}
            <a class="btn btn-primary" href="{% url 'blog_app:edit_post' post.pk %}" role="button">Editar</a>
            <a class="btn btn-danger" href="{% url 'blog_app:delete_post' post.pk %}" role="button">Eliminar</a>
        {% endif %}
    {% endif %}
</div>

{% else %}
    <p>El post no está disponible.</p>
{% endif %}

<a class="btn btn-dark" href="{% url 'blog_app:blog' %}" role="button">Atrás</a>

{% endblock %}